#playermenu-main {
    background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 1%;
    box-sizing: border-box;
}

#playermenu-main > div {
    background-color: orange;
    width: 100%;
    height: 18%;
    display: flex;
    gap: 1%
}

#information-box {
    background-color: yellow;
    flex: 1;
}

#options-box {
    background-color: green;
    flex: 1;
}

#menu-viewsection {
    background-color: green;
    flex: 1;
}