#playermenu-inventory-prompt-main{
    position: absolute;
    background-color: #222;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 10;
    min-width: 120px;
}