#playermenu-inventory-main{
    position: relative;
    width: 100%;
    height: 100%;
}

#playermenu-inventory-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
    height: 100%;
}

.playermenu-inventory-item{
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    transition: opacity 0.3s ease;
    font-size: 22px;
}

.playermenu-inventory-information {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}